*{
    margin:0;
    padding:0;
}
.slide-content {
    overflow-x: hidden;
    min-height:100vh;
    /* border:2px solid red; */
}

.wrap {
    position: relative;
}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.slide1 {
    background-image: url(images/image-2.jpg);
}

.slide2 {
    background-image: url(images/image-3.jpg);
}

.slide3 {
    background-image: url(images/image-4.jpg);
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 27px; 
    font-weight: bold;
    background-color:rgb(119, 160, 155);
    color:black;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
}

#arrow-left {
    left: 10px; 
}

#arrow-right {
    right: 10px; 
}


